@import '../../../../styles/Variables';

.information-step {
  .name {
    height: 22px;
    font-family: OpenSans;
    font-size: 15px;
    font-weight: 600;
    color: #5d76ba;
    margin-bottom: 16px;
  }
  .information {
    display: flex;
    margin-bottom: 16px;
    .fgs__box {
      width: 130px;
    }
  }
  .fgs__form__group__outer {
    &.num-2 {
      grid-template-columns: 48.592% 48.592%;
    }
    &.num-3 {
      grid-template-columns: 48.592% 22.89% 22.89%;
    }
  }
  .fgs__datepicker {
    flex: 1;
    .fgs__datepicker__input {
      flex: 1;
      .react-datepicker-wrapper {
        width: 100%;
        .react-datepicker__input-container {
          width: 100%;
          .datepicker {
            max-width: 100%;
            width: 100%;
            height: 50px !important;
            border: solid 1px #edeff7;
            background-color: #fff;
            color: #3b4255;
            font-size: 13px;
            font-weight: initial;
            padding: 14px 16px;
            cursor: pointer;
            &.placeholder {
              color: #949ab4;
              transition: all 0.3s linear;
              background-color: #f6f7fb;
            }
          }
        }
      }
    }
  }
  .react-datepicker {
    border: none;
    box-shadow: 0 10px 25px 0 rgba(59, 66, 85, 0.2),
      0 2px 25px 0 rgba(59, 66, 85, 0.2);
    width: 232px;
    .react-datepicker__year-dropdown {
      left: unset;
      width: 37%;
      &.react-datepicker__year-dropdown--scrollable {
        height: 240px;
      }
      .react-datepicker__navigation.react-datepicker__navigation--years {
        &.react-datepicker__navigation--years-upcoming, &.react-datepicker__navigation--years-previous {
          top: unset;
        }
      }
      .react-datepicker__year-option--selected {
        left: 0;
      }
    }
    .react-datepicker__month-dropdown {
      left: unset;
      .react-datepicker__month-option--selected {
        left: 0;
      }
    }
    .react-datepicker__header__dropdown {
      color: $primaryMarino;
      font-size: 15px;
      border-bottom: 1px solid #edeff7;
      .react-datepicker__month-select, .react-datepicker__year-select {
        border: none;
        background-color: unset;
        outline: none;
      }
    }

    .react-datepicker__triangle {
      border-bottom-color: #ffffff !important;
      &:before {
        border-bottom-color: #ffffff !important;
      }
    }

    .react-datepicker__navigation {
      top: 2rem;
    }

    .react-datepicker__header {
      background-color: #ffffff;
      border-bottom: none;
      padding-top: 0;
      width: 232px;

      .react-datepicker__current-month {
        font-family: OpenSans;
        font-size: 15px;
        font-weight: 600;
        text-align: center;
        color: $primaryMarino;
      }

      .react-datepicker__day-name {
        width: 20px;
        height: 20px;
        line-height: 20px;
        font-family: OpenSans;
        font-size: 13px;
        text-align: center;
        color: $primaryMarino;
        margin: 16px 4px 9px 5px;
        text-transform: uppercase;
      }
    }

    .react-datepicker__month {
      margin: 0;
      padding: 0 12px 18px 12px;

      .react-datepicker__day {
        width: 20px;
        height: 20px;
        line-height: 20px;
        font-family: OpenSans;
        font-size: 13px;
        text-align: center;
        color: #3b4255;
        margin: 0 4px 9px 5px;
      }

      .react-datepicker__day--outside-month {
        color: #949ab4;
      }

      .react-datepicker__day--selected {
        color: #ffffff;
        border-radius: 4px;
        background-color: $primaryMarino;
      }
    }

    .react-datepicker__today-button {
      font-family: OpenSans;
      font-size: 13px;
      color: #3b4255;
      background-color: #ffffff;
      border-top-color: #edeff7;
      padding: 8px 0px;
    }
  }
  .tip {
    font-family: OpenSans;
    font-size: 13px;
    font-style: italic;
    color: #949ab4;
  }
  .error-message {
    font-size: 10px;
    color: #ff6a7d;
  }
}
