@import '../../styles/Variables';

.fgs__pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 24px 0;

  .fgs__pagination__buttons {
    display: flex;
    align-items: center;

    button {
      width: 32px;
      height: 32px;
      border: solid 1px $lightGrey;
      font-size: 13px;
      padding: 0;
      border-right: none;
      color: $charcoalGrey;
      background-color: $white;

      i {
        color: $coolGrey;
        font-size: 18px;
      }

      &.active {
        background-color: $primaryMarino;
        border: $primaryMarino;
        color: $white;
      }
    }


    .btn-toolbar {
      margin-right: 20px;

      .dropup {
        &.open {
          .caret {
            transform: rotate(0);
          }
        }
      }

      .btn {
        background-color: #ffffff;
        border-color: $lightGrey !important;
        margin-right: -5px;
      }

      .dropdown-toggle {
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        border-right: 1px solid;
        border-left: none;
        margin-right: 0;
        color: $primaryMarino;

        .caret {
          transform: rotate(180deg);
          transition: transform 0.3s linear;
        }
      }
    }
  }

  .fgs__pagination__right {
    button {
      &:first-child {
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
      }

      &:last-child {
        border-right: 1px solid $lightGrey;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
      }
    }
  }

  ul {
    min-width: 48px;
    width: 48px;

    li {
      a {
        text-align: center;
        padding: 0;
      }
    }
  }

  @media (max-width: 767px) {
    flex-direction: column;
    align-items: start;

    .fgs__pagination__buttons {
      margin-top: 10px;
    }
  }
}
