.logo {
  margin-bottom: 28px
}

.authentication__card {
  max-width: 400px;
  width: 100%;
  height: auto;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0 10px 25px 0 rgba(59, 66, 85, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;

  .authentication__card__title_wrapper{
    padding: 48px 48px 24px 48px;
    text-align: center;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #3b4255;

    .authentication__card__title {
      margin-bottom: 0px
    }
  }
}
