@import '../../styles/Variables';

.fgs__header {
  margin-bottom: 40px;
  position: relative;
  z-index: 4;

  .fgs__header__container {
    background: $primaryMarino;
    color: $white;
  }

  .fgs__header__container {
    height: 80px;
    display: flex;
    align-items: center;

    .greeting {
      font-size: 24px;
      margin-left: 44px;
    }
  }

  .dropdown {
    display: flex;
    position: absolute;
    top: 20px;
    right: 44px;

    @media (max-width: 767px) {
      right: 20px;
      top: 30px;
    }

    .dropdown-toggle.dropdown__toggle__profile {
      background-color: transparent;
      display: flex;
      padding: 0;
      text-align: left;
      border: none;
      box-shadow: none !important;

      .dropdown__profile__info {
        font-size: 13px;
        font-weight: normal;
        margin-right: 12px;

        p {
          margin-bottom: 0;
          color: $white !important;

          @media (max-width: 767px) {
            &.dropdown__profile__role {
              display: none;
            }
          }
        }

        .dropdown__profile__name {
          font-size: 15px;
          font-weight: 600;
        }
      }

      .caret {
        margin-top: 8px;
        border-width: 5px;
        border-bottom-color: $white !important;
        border-top-color: $white !important;
      }
    }

    .dropdown-menu {
      background-color: white;
      min-width: 150px;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      right: 0;
      left: initial;
      top: calc(100% + 10px);

      .dropdown__menu__item {
        width: 100%;
        color: #3b4255;
        font-weight: 500;
        font-size: 14px;
        border: none;
        margin: 0;
        padding: 14px 20px;
        background: transparent;

        a {
          margin: 0;
          padding: 0;
          &:hover{
            background-color: transparent;
            color: $primaryMarino;
          }
        }
      }
    }
  }

  .header__menu {
    background-color: $secondaryAquamarine;
    font-size: 24px;
    margin-left: 20px;
    width: 32px;
    height: 32px;
    padding: 0;
    display: none;
  }

  @media (max-width: 1024px) {
    margin-bottom: 32px;
    
    .dropdown {
      right: 26px;
    }

    .header__menu {
      display: block;
    }
  }

  @media (max-width: 767px) {
    margin-bottom: 24px;

    .fgs__header__container {
      .greeting {
        display: none;
      }
    }
  }
}
