.fgs__btn {
  height: 32px;
  border-radius: 4px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: $white;
  padding: 0 14px;
  border: none;
  font-weight: 600;
  font-size: 13px;
  background-color: $white;
  position: relative;

  &:hover, &:active, &:focus {
    color: $white;
  }

  &.fgs__btn--link {
    background-color: transparent;
    padding: 0;
  }

  &.fgs__btn--primary {
    background-color: $primaryMarino;
    color: $white;
  }

  &.fgs__btn--primary--outline {
    border: 1px solid $primaryMarino;
    color: $primaryMarino;
  }

  &.fgs__btn--medium {
    height: 40px;
  }

  &.fgs__btn--large {
    height: 48px;
  }

  &.fgs__btn--icon {
    width: 32px;
    padding: 0;
    background-color: $lightGreyF6;

    i {
      font-size: 20px;
      color: $coolGrey;
    }
  }

  &.fgs__btn--disabled {
    opacity: 0.5;

    &:hover {
      cursor: default;
    }
  }

  &.mobile {
    @media (max-width: 767px) {
      padding: 0;
      width: 40px;
      flex-shrink: 0;

      span {
        display: none;
      }

      i {
        margin: 0;
      }
    }
  }
}
