// Text Color
.text {
  &--error {
    color: $rosyPink;
  }
  &--info {
    color: $primaryMarino;
  }
  &--secondary {
    color: $secondaryAquamarine;
  }
  &--warning {
    color: $yellow;
  }
  &--success {
    color: $lawnGreen;
  }
  &--disabled {
    color: $coolGrey;
  }
  &--danger {
    color: $rosyPink;
  }
}

// Background Color
.bg {
  &--primary-marino {
    background-color: $primaryMarino;
  }

  &--yellow {
    background-color: $yellow;
  }

  &--cool-grey {
    background-color: $coolGrey;
  }

  &--light-grey {
    background-color: $lightGrey;
  }

  &--secondary-aquamarine {
    background-color: $secondaryAquamarine;
  }

  &--orange {
    background-color: $orange;
  }

  &--pink {
    background-color: $rosyPink;
  }

  &--default {
    background-color: $lightGreyF6;
  }
  &--danger {
    background-color: $rosyPink;
  }
}
