// Display
.d {
  &__block {
    display: block;
  }
  &__flex {
    display: flex;
  }
}

// Justify Content
.justify__content {
  &--center {
    justify-content: center;
  }
  &--between {
    justify-content: space-between;
  }
}

// Align Items
.align__items {
  &--center {
    align-items: center;
  }
}

// Flex Wrap
.flex__wrap {
  flex-wrap: wrap;

  &--noWrap {
    flex-wrap: nowrap;
  }
}

.flex {
  &--1 {
    flex: 1;
  }

  &__direction {
    &--column {
      flex-direction: column;
    }
  }
}

.word__break {
  word-break: break-word;
}