.fgs__action__dropdown {
  .dropdown-menu {
    position: absolute;
    z-index: 4;
    left: auto;
    min-width: 184px;
    border-radius: 4px;
    background-color: $white;
    z-index: 3;
    border: none;
    box-shadow: 0 10px 25px 0 rgba(59, 66, 85, 0.2);
    padding: 10px 0;

    li {
      &.remove__item {
        a {
          color: $rosyPink;
        }
      }

      a {
        font-size: 13px;
        color: $charcoalGrey;
        line-height: 20px;

        &:hover {
          background-color: $white;
          color: $primaryMarino;
        }
      }
    }
  }

  &--entity {
    .dropdown-menu {
      min-width: 230px;

      li {
        a {
          padding: 3px 16px;
        }
      }
    }
  }
}

.dropdown-toggle.fgs__dropdown-toggle {
  min-width: 104px;
  height: 32px;
  border-radius: 4px;
  padding: 0;
  font-size: 13px;
  font-weight: 600;
  color: $primaryMarino !important;
  border: solid 1px $primaryMarino !important;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: $white !important;
}
