.fgs__form__group__outer {
    display: grid;
    grid-template-columns: auto 25% 25%;
    grid-column-gap: 16px;

    &.fgs__form__group__outer--revert {
        grid-template-columns: 25% 25% auto;
    }

    @media (max-width: 767px) {
        grid-template-columns: 1fr;

        &.fgs__form__group:last-child {
            margin-bottom: 0;
        }
    }
}

.fgs__form__group {
    margin-bottom: 16px;

    .fgs__image__container {
        .preview__container {
            position: relative;

            .fgs__btn--close {
                position: absolute;
                right: 10px;
                background-color: white;
                width: 20px;
                height: 20px;
                border-radius: 100px;
                line-height: 23px;
                text-align: center;
                margin-top: 10px;
                padding: 0;
                border: 1px solid grey;
                
                i {
                    font-size: 15px;
                    font-weight: bold;
                }
            }
        }

        .img__preview {
            width: 100%;
        }
    }

    .fgs__input__container {
        position: relative;

        &.fgs__input__container--phone {
            display: grid;
            grid-template-columns: 88px auto;
            grid-column-gap: 16px;

            @media (max-width: 767px) {
                grid-column-gap: 8px;
            }
        }

        &.err {
            .fgs__input__control {
                border-color: $orange;
            }

            .icon-info {
                display: block;
                color: $orange;
            }
        }

        &.postfix::after {
            content: 'px';
            position: absolute;
            top: 15px;
            right: 35px;
        }
    }

    .fgs__input__control,
    .fgs__taginput__control {
        width: 100%;
        padding: 14px 16px;
        border: 1px solid $lightGrey;
        border-radius: 4px;
        transition: all 0.3s linear;
        background-color: $lightGreyF6;

        &.has-value {
            background-color: $white;
        }

        &:focus {
            border-color: $primaryMarino;
        }
    }

    .fgs__taginput__control {
        height: 48px;
        padding: 0 12px;
        transition: inital;

        &.has-value {
            padding: 0 12px 7px 12px;
            height: auto;

            .react-tagsinput-input {
                height: auto;
            }

            .react-tagsinput-tag {
                margin: 7px 7px 0 0;
                height: 32px;
                background-color: $lightGrey;
                border: none;
                display: inline-flex;
                align-items: center;
                padding: 6px 28px 6px 10px !important;
                position: relative;
                border-radius: 2px;
                color: $charcoalGrey;
            }
        }

        .react-tagsinput-input {
            margin: 0;
            height: 48px;
        }

        .react-tagsinput-tag {
            .react-tagsinput-remove {
                border: none;
                position: absolute;
                top: calc(50% - 10px);
                right: 8px;
                color: $coolGrey;
                font-size: 14px;
                font-family: 'icomoon';
                speak: none;
                font-style: normal;
                font-weight: normal;
                font-variant: normal;
                text-transform: none;

                &:hover {
                    text-decoration: none;
                }

                &:before {
                    content: "\e905";
                }
            }
        }
    }

    .fgs__select__control {
        &.disbaled {
            opacity: 0.4;

            &.has-value {
                .Select-control {
                    background-color: $lightGreyF6 !important;
                }
            }
        }

        &.fgs__select__control--small {
            .Select-control {
                height: 32px;

                .Select-placeholder,
                .Select-value {
                    line-height: 32px;
                    padding: 0 10px;
                }

                .Select-value {
                    padding-right: 25px !important;
                }
            }

            .Select-arrow-zone {
                padding-right: 5px;
            }

            .Select-input {
                height: 32px;
                padding: 0 8px;

                input {
                    height: 32px;
                }
            }

            .Select-menu-outer {
                .Select-option {
                    padding: 10px 15px;
                }
            }
        }

        &.no-arrow {
            .Select-arrow-zone {
                display: none;
            }
        }

        &.Select--multi {
            .Select-value {
                height: 32px;
                background-color: $lightGrey;
                border: none;
                display: inline-flex;
                align-items: center;
                padding: 6px 24px 6px 6px !important;
                position: relative;
                border-radius: 2px;
                margin-left: 8px;
                margin-top: 8px;

                .Select-value-icon {
                    border: none;
                    position: absolute;
                    top: 0;
                    right: 10px;
                    color: $coolGrey;
                    font-size: 18px;
                    line-height: 32px;
                    padding: 0;

                    &:hover {
                        background-color: transparent;
                    }
                }

                .Select-value-label {
                    font-size: 13px;
                    color: $charcoalGrey;
                }
            }
        }

        &.has-value {
            .Select-control {
                background-color: $white !important;
            }
        }

        &.fgs__select__control--customize {
            .Select-menu-outer {
                .Select-menu {
                    padding: 40px 0 0;
                }

                .select-menu-item {
                    color: $charcoalGrey;
                    padding: 8px 8px 8px 0;

                    &:first-child {
                        .select-header {
                            display: flex !important;
                            position: absolute;
                            top: 0;
                            left: 0;
                            background-color: $white;
                            z-index: 1;
                            height: 40px;
                            width: 100%;
                            border: 1px solid $lightGrey;
                            border-left: 0;
                            border-right: 0;
                            border-top-right-radius: 4px;
                            border-top-left-radius: 4px;

                            p {
                                color: $charcoalGrey;
                                text-transform: uppercase;
                                font-weight: 600;
                            }
                        }

                        .select-body {
                            display: flex;
                        }
                    }

                    .select-header {
                        display: none !important;
                        display: flex;
                        align-items: center;
                    }

                    .select-body {
                        display: flex;
                        align-items: center;
                    }

                    p {
                        margin: 0;
                    }

                    &:nth-child(2n) {
                        background-color: $lightGreyF6;
                    }

                    .select-status {
                        width: 118px;
                        padding-left: 16px;

                        span {
                            display: inline-flex;
                            align-items: center;
                            justify-content: center;
                            font-size: 10px;
                            color: $white;
                            background-color: $primaryMarino;
                            height: 20px;
                            border-radius: 12px;
                            padding: 0 8px;
                        }
                    }

                    .select-rpps {
                        width: 100px;
                    }

                    .select-professional {
                        width: 220px;

                        span {
                            display: block;

                            &:last-child {
                                color: $coolGrey;
                                font-size: 10px;
                            }
                        }
                    }
                }
            }

            @media(max-width: 767px) {
                .Select-menu-outer {
                    .select-menu-item {
                        &:first-child {
                            .select-header {
                                p {
                                    font-size: 10px;
                                }
                            }
                        }
                    }
                }
            }
        }

        .Select-control {
            border: 1px solid $lightGrey !important;
            box-shadow: none !important;
            background-color: $lightGreyF6 !important;
            height: 48px;

            .Select-placeholder,
            .Select-value {
                line-height: 48px;
                padding: 0 16px;
            }

            .Select-placeholder {
                color: $coolGrey;
            }

            .Select-clear-zone {
                display: none;
            }
        }

        .Select-input {
            padding: 0 14px;
            margin-left: 0;
            height: 46px;

            input {
                height: 48px;
                padding: 0 !important;
            }
        }

        .Select-arrow-zone {
            padding-right: 12px;
        }

        .Select-menu-outer {
            margin-top: 0px;
            border: none;
            box-shadow: 0 10px 25px 0 rgba(59, 66, 85, 0.2);
            border-radius: 4px;

            .Select-menu {
                padding: 10px 0;
            }

            .Select-option {
                padding: 10px 24px;

                &.is-focused {
                    background-color: transparent;
                    color: $primaryMarino;
                }
            }
        }
    }

    .fgs__radio {
        position: relative;

        &.fgs__radio--primary {
            .fgs__radio__label {
                font-weight: 600;
                padding-left: 40px;
            }

            @media (max-width: 767px) {
                .fgs__radio__label {
                    padding-left: 32px;
                }
            }
        }

        * {
            cursor: pointer;
        }

        &:first-child {
            margin-right: 40px;
        }

        input {
            position: absolute;
            opacity: 0;
            z-index: 1;
            top: 0;
            left: 0;
            width: 20px;
            height: 20px;
            margin-top: 0;

            &:checked~.fgs__radio__checkmark {
                border-color: $primaryMarino;
            }

            &:checked~.fgs__radio__checkmark:after {
                display: block;
            }
        }

        .fgs__radio__label {
            font-weight: 400;
            padding-left: 28px;
        }

        .fgs__radio__checkmark {
            position: absolute;
            top: calc(50% - 10px);
            left: 0;
            height: 20px;
            width: 20px;
            border: 2px solid $coolGrey;
            border-radius: 50%;

            &:after {
                display: none;
                content: "";
                position: absolute;
                top: calc(50% - 5px);
                left: calc(50% - 5px);
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background: $primaryMarino;
            }
        }
    }

    .icon-info {
        display: none;
        position: absolute;
        bottom: 14px;
        right: 14px;
        font-size: 20px;
    }
}