@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot');
    src: url('../fonts/icomoon.eot') format('embedded-opentype'),
        url('../fonts/icomoon.ttf') format('truetype'),
        url('../fonts/icomoon.woff') format('woff'),
        url('../fonts/icomoon.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-increase:before {
    content: "\e928";
}

.icon-decrease:before {
    content: "\e929";
}

.icon-arrow-back:before {
    content: "\e921";
}

.icon-fullscreen-exit:before {
    content: "\e927";
}

.icon-fullscreen:before {
    content: "\e919";
}

.icon-minus:before {
    content: "\e91d";
}

.icon-add:before {
    content: "\e91c";
}

.icon-edit:before {
    content: "\e916";
}

.icon-info:before {
    content: "\e915";
}

.icon-error:before {
    content: "\e920";
    color: #ff4900;
}

.icon-success:before {
    content: "\e922";
    color: #5eae11;
}

.icon-warning:before {
    content: "\e923";
    color: #eecf55;
}

.icon-visa:before {
    content: "\e918";
    color: #0085ca;
}

.icon-equalizer:before {
    content: "\e900";
}

.icon-chevron-left:before {
    content: "\e903";
}

.icon-chevron-right:before {
    content: "\e904";
}

.icon-first-page:before {
    content: "\e907";
}

.icon-last-page:before {
    content: "\e90a";
}

.icon-arrow-down:before {
    content: "\e902";
}

.icon-close:before {
    content: "\e905";
}

.icon-location-city:before {
    content: "\e90b";
}

.icon-parameters:before {
    content: "\e925";
}

.icon-api:before {
    content: "\e924";
}

.icon-description:before {
    content: "\e906";
}

.icon-help:before {
    content: "\e908";
}

.icon-search:before {
    content: "\e90c";
}

.icon-settings:before {
    content: "\e90d";
}

.icon-supervised-user-circle:before {
    content: "\e90e";
}

.icon-how-to-reg:before {
    content: "\e909";
}

.icon-supervisor-account:before {
    content: "\e90f";
}

.icon-admin:before {
    content: "\e914";
}

.icon-accessible:before {
    content: "\e901";
}

.icon-trending-down:before {
    content: "\e910";
}

.icon-trending-up:before {
    content: "\e917";
}

.icon-check-box .path1:before {
    content: "\e911";
    color: rgb(0, 0, 0);
}

.icon-check-box .path2:before {
    content: "\e912";
    margin-left: -1em;
    color: rgb(93, 118, 186);
}

.icon-check-box-outline-blank:before {
    content: "\e913";
    color: #949ab4;
}

.icon-trash:before {
    content: "\e926";
}

.icon-dashboard:before {
    content: "\e91e";
}

.icon-monetization:before {
    content: "\e91f";
}

.icon-download:before {
    content: "\e91b";
}

.icon-menu:before {
    content: "\e91a";
}