.modal.fgs__modal {
    &.success {
        .modal-dialog {
            .modal-content {
                display: none;
            }
        }
    }

    // Has step container
    &.fgs__modal--step {
        .modal-header {
            padding: 24px 40px 26px;
            border-bottom: 1px solid $lightGrey;
        }
    }

    // Manage modal
    &.fgs__modal--medium {
        .modal-dialog {
            max-width: 500px;
        }

        .modal-body {
            padding: 40px;
        }
    }

    // Alert modal like warning, success or error modals
    &.fgs__modal--small {
        .modal-dialog {
            max-width: 400px;
            margin-top: 140px;
        }

        .modal-body {
            padding: 40px;
        }

        .fgs__modal__icon {
            margin-bottom: 24px;
            font-size: 80px;
        }

        .fgs__modal__message {
            font-size: 18px;
        }

        .fgs__btn__groups {
            margin-top: 40px;
        }
    }

    &.fgs__modal--managePrescriptionTemplate {
        .preview__container {
            position: relative;
            border-top: 1px solid $lightGreyF6;

            .preview__container__inner {
                overflow: auto;
                background-color: $lightGreyF6;
                min-height: 400px;
                max-height: 720px;
                display: flex;
                align-items: center;
                position: relative;
            }

            .pan-container {
                overflow: hidden;
                display: flex;
                justify-content: center;
                align-items: center;
                max-height: 720px;
                min-height: 400px;
            }

            .preview__actions {
                position: absolute;
                bottom: 34px;
                right: 34px;
                display: flex;
                flex-direction: column;

                .fgs__btn {
                    width: 40px;
                    height: 40px;
                    box-shadow: 0 4px 8px 0 rgba(59, 66, 85, 0.2) !important;
                    border-radius: 100%;
                }
            }
        }


        .modal-header--preview {
            padding: 35px 40px;
        }

        .modal-body {
            padding: 0;

            .choose__prescription__template {
                padding: 24px 40px 0;
            }

            .specific__template {
                padding: 24px 40px;
                background-color: $lightGreyF6;

                h2 {
                    font-weight: 600;
                }

                .fgs__input__container {
                    &.postfix {
                        i {
                            position: absolute;
                            right: 6px;
                            top: 12px;
                            color: $coolGrey;
                            font-size: 6px;
                            cursor: pointer;
                            padding: 4px;

                            &.icon-decrease {
                                top: 22px;
                            }

                            &:active {
                                color: $charcoalGrey;
                            }
                        }
                    }

                    input[type=number]::-webkit-inner-spin-button,
                    input[type=number]::-webkit-outer-spin-button {
                        -webkit-appearance: none;
                    }
                }

                .fgs__input__control {
                    background-color: $white;
                }

                .fgs__tag {
                    display: inline-flex;
                    align-items: center;
                    margin: 16px 0 0;
                    padding: 6px 8px 6px 12px;
                    background-color: $white;
                    border-radius: 18px;

                    p {
                        color: $primaryMarino
                    }

                    i {
                        color: $coolGrey;
                        margin: 3px 0 0 8px;
                        font-size: 16px;
                        cursor: pointer;
                    }
                }
            }
        }
    }

    .loading__spinner__container {
        border-radius: 4px;
    }

    .modal-dialog {
        max-width: 668px;
        width: 100%;
        padding: 0 10px;
        margin: 90px auto 0;
    }

    .modal-content {
        box-shadow: 0 10px 25px 0 rgba(59, 66, 85, 0.2);
    }

    .modal-header {
        padding: 24px 40px 26px;
        border-bottom: 1px solid $lightGrey;
    }

    .modal-body {
        padding: 24px 40px 0;

        &.no-footer {
            padding-bottom: 40px;
        }
    }

    .modal-footer {
        text-align: center;
        border: none;
        padding: 40px 0;

        &:before,
        &:after {
            content: none;
        }

        .btn {
            margin: 0;
        }
    }

    .fgs__submit__form {
        display: flex;
        margin-top: 16px;

        @media (max-width: 767px) {
            flex-direction: column;

            .fgs__form__group {
                margin-right: 0;
                margin-bottom: 10px;
            }
        }
    }

    .search__form {
        input {
            height: 40px;
        }
    }

    .fgs__close__btn {
        color: $coolGrey;
        position: absolute;
        background-color: transparent;
        top: 12px;
        right: 12px;
        ;
        border: none;
        padding: 8px;

        &.fgs__back__btn {
            left: 40px;
            top: 26px;
            background-color: $lightGreyF6;
            border-radius: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 48px;
            height: 48px;
            color: $charcoalGrey;
        }

        i {
            font-size: 24px;
        }
    }

    .fgs__modal__title {
        font-size: 18px;
    }

    .modal-content {
        border-radius: 8px;
        border: none;
    }

    .fgs__btn__groups {
        display: grid;
        grid-template-columns: 148px 148px;
        justify-content: center;
        grid-column-gap: 16px;
    }

    @media(max-width: 1024px) {
        .page__header {
            grid-template-columns: auto auto;
            grid-column-gap: 20px;
        }
    }

    @media(max-width: 767px) {
        &.fgs__modal--small {
            .fgs__btn__groups {
                padding: 0;
            }
        }

        &.fgs__modal--medium {
            .modal-body {
                padding: 30px 24px 30px;
            }
        }

        .modal-header,
        .modal-body {
            padding: 30px 24px 0;
        }

        .page__header {
            grid-column-gap: 8px;
        }

        .fgs__btn__groups {
            grid-template-columns: 1fr 1fr;
            grid-column-gap: 8px;
            padding: 30px 24px;
        }
    }
}
