// Margin Bottom
.m__b {
  &--0 {
    margin-bottom: 0 !important;
  }
  &--4 {
    margin-bottom: 4px;
  }
  &--8 {
    margin-bottom: 8px;
  }
  &--10 {
    margin-bottom: 10px;
  }
  &--16 {
    margin-bottom: 16px;
  }
  &--24 {
    margin-bottom: 24px;
  }
  &--40 {
    margin-bottom: 40px;
  }
}

// Margin Top
.m__t {
  &--0 {
    margin-top: 0;
  }
  &--4 {
    margin-top: 4px;
  }
  &--8 {
    margin-top: 8px;
  }
  &--10 {
    margin-top: 10px;
  }
  &--16 {
    margin-top: 16px;
  }
  &--24 {
    margin-top: 24px;
  }
  &--40 {
    margin-top: 40px;
  }
}


// Margin Left
.m__l {
  &--0 {
    margin-left: 0;
  }
  &--4 {
    margin-left: 4px;
  }
  &--8 {
    margin-left: 8px;
  }
  &--16 {
    margin-left: 16px;
  }
  &--24 {
    margin-left: 24px;
  }
  &--40 {
    margin-left: 40px;
  }
}

// Margin Right
.m__r {
  &--0 {
    margin-right: 0;
  }
  &--4 {
    margin-right: 4px;
  }
  &--8 {
    margin-right: 8px;
  }
  &--16 {
    margin-right: 16px;
  }
  &--24 {
    margin-right: 24px;
  }
  &--40 {
    margin-right: 40px;
  }
}

// Min Width
.min__w {
  &--96 {
    min-width: 96px;
  }
  &--124 {
    min-width: 124px;
  }
  &--174 {
    min-width: 174px;
  }
}
