.status__label {
  height: 20px;
  border-radius: 12px;
  font-size: 10px;
  color: $white;
  padding: 0 9px;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  &.status__label--light {
    border: 1px solid;
    background-color: $white;

    &.primary-marino {
      border-color: $primaryMarino;
      color: $primaryMarino;
    }

    &.orange {
      border-color: $orange;
      color: $orange;
    }

    &.secondary-aquamarine {
      border-color: $secondaryAquamarine;
      color: $secondaryAquamarine;
    }

    &.violet {
      border-color: $violet;
      color: $violet;
    }
  }
}
