.table__container {
  &.table__container--modal {
    margin-top: 16px;

    .react-bs-table {
      border: 1px solid $lightGrey;
    }

    .react-bs-container-header {
      border-bottom: 1px solid $lightGrey;

      thead {
        border: none;
      }

      th {
        background-color: transparent;
      }
    }

    .react-bs-container-body {
      max-height: 245px !important;
      min-height: 245px !important;
      height: 100%;

      tr {
        &:nth-child(2n+1) {
          background-color: $lightGreyF6;
        }
      }

      td {
        vertical-align: middle;
        padding: 8px 24px 8px 0;
      }
    }
  }

  .react-bs-table {
    border: none;

    th, td {
      border: none;
      &:first-child {
        padding-left: 24px;
      }

      &:last-child {
        text-align: right !important;
        padding-right: 24px;
      }
    }
  }

  .react-bs-container-header {
    thead {
      border-bottom: 1px solid #edeff7;
      border-top: 1px solid #edeff7;
    }

    th {
      text-transform: uppercase;
      border: none;
      color: $charcoalGrey;
      background-color: $lightGreyF6;
      padding: 11px 0;
    }
  }

  .react-bs-container-body {
    max-height: calc(100vh - 307px) !important;
    min-height: calc(100vh - 307px) !important;
    height: 100%;

    tr {
      border-bottom: 1px solid #edeff7;
    }

    td {
      padding: 16px 30px 16px 0;
      overflow: visible;

      * {
        white-space: normal;
      }

      &:last-child {
        padding-right: 16px;
      }

      &.react-bs-table-no-data {
        text-align: center !important;
      }

      .label {
        font-size: 13px;
        color: $charcoalGrey;
      }
    }
  }

  @media (max-width: 1024px) {
    .react-bs-container-body {
      max-height: calc(100vh - 336px) !important;
      min-height: calc(100vh - 336px) !important;
      height: 100%;
    }
  }
}
