// Font Size
.font__size {
  &--10 {
    font-size: 10px;
  }
  &--15 {
    font-size: 15px;
  }
  &--20 {
    font-size: 20px;
  }
  &--24 {
    font-size: 24px;
  }
}


// Font Weight
.font__weight {
  &--600 {
    font-weight: 600;
  }
}
