// Colors
$violet: #4e21a3;
$darkBlue: #0e284b;
$orange: #ff4900;
$lightGrey: #edeff7;
$white: #ffffff;
$primaryMarino: #5d76ba;
$coolGrey: #949ab4;
$charcoalGrey: #3b4255;
$yellow: #eecf55;
$lightGreyF6: #f6f7fb;
$secondaryAquamarine: #01cbc6;
$blue: #4a90e2;
$lawnGreen: #5eae11;
$rosyPink: #ff6a7d;
