@import './Variables';
@import './IconFont';
@import './Button';
@import './Modal';
@import './Table';
@import './StatusLabel';
@import './Dropdown';
@import './Form';
@import './Spacing';
@import './Text';
@import './Display';
@import './Color';

@font-face {
  font-family: "OpenSans-SemiBold";
  src: url("../fonts/OpenSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-Regular.ttf") format("truetype");
  font-weight: normal;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'OpenSans';
  color: $charcoalGrey;
  background-color: white !important;

  * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

#overlay {
  height: 100vh;
  position: absolute;
  width: 100%;
  top: 0;
  background-color: rgba(59, 66, 85, 0.5);
  display: none;
  z-index: 4;

  &.is-open {
    display: block;
  }
}

#page-wrapper {
  padding-left: 0;
  padding-right: 0;
  min-height: auto;
  height: auto;
  margin: 0 0 0 224px;

  @media (max-width: 1024px) {
    margin-left: 0;
  }
}

h1, h2, h3, h4, h5, h6, p, label {
  margin: 0;
}

mark {
  background-color: #ff0 !important;
}

input, button, a {
  &:focus, &:active {
    outline: none !important;
    box-shadow: none !important;
  }
}

input {
  &::placeholder {
    color: #949ab4;
  }
}

a {
  color: $charcoalGrey;
  &:hover {
    color: $primaryMarino;
    text-decoration: underline;
  }
}

hr {
  border-color: $lightGrey;
  margin: 16px 0;
}

.page {
  padding: 0 44px;

  @media (max-width: 1024px) {
    padding: 0 26px;
  }

  @media (max-width: 767px) {
    padding: 0 20px;
  }
}

.page__header {
  align-items: center;
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: space-between;
  margin-bottom: 24px;

  .page__header__right,
  .page__header__left {
    display: grid;
    align-items: center;
    grid-column-gap: 16px;
  }

  .page__header__right {
    grid-template-columns: repeat(2, auto);
    justify-content: flex-end;

    &.two--btn {
      grid-template-columns: repeat(3, auto);
    }
  }

  .page__header__left {
    grid-template-columns: repeat(2, auto);
  }

  .page__header__title {
    font-size: 18px;
  }

  .page__header__total {
    display: flex;
    font-size: 13px;
    color: $primaryMarino;
  }

  @media (max-width: 1024px) {
    grid-template-columns: 1fr;
    grid-row-gap: 20px;

    .page__header__left {
      grid-row: 2;
      grid-template-columns: auto 1fr;
    }
  }

  @media (max-width: 767px) {
    .page__header__right {
      grid-column-gap: 8px;
    }
  }
}

.page__body {
  margin-top: 40px;

  .page__body__title {
    font-size: 15px;
    color: $primaryMarino;
    font-weight: 600;
    margin-bottom: 24px;
  }
}

.search__form {

  &.search__form--full {
    .input-group {
      width: 100%;

      input {
        width: 100%;
      }
    }
  }

  .form-group {
    margin-bottom: 0;
  }

  .input-group {
    input {
      background-color: $lightGreyF6;
      border: solid 1px $lightGrey;
      padding: 0 48px 0 16px;
      border-radius: 4px;
      outline: none;
      width: 260px;
      height: 32px;

      @media(max-width: 767px) {
        width: 100%;
      }
    }

    .input-group-addon {
      position: absolute;
      top: calc(50% - 10px);
      right: 12px;
      border: none;
      background-color: transparent;
      padding: 0;
      width: auto;

      i {
        font-size: 20px;
        color: $coolGrey;
      }
    }
  }
}


.fgs__box {
  margin-bottom: 10px;

  .preview__container {
    position: relative;
  }

  .img__preview {
      width: 100%;
  }
}

.fgs__box__label{
  font-size: 10px;
  color: $coolGrey;
  margin-bottom: 4px;
  font-weight: normal;
}

.fgs__logo {
  width: 32px;
  height: 32px;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #fff;
  border-radius: 100%;
  background-position: 50%;
}

.fgs__title {
  font-size: 18px;
  color: $primaryMarino;
}

.fgs__sub__title {
  font-weight: 600;
  color: $primaryMarino;
}

.fgs__link {
  @extend .fgs__sub__title;
  font-size: 13px;

  &:hover {
    text-decoration: none;
  }
}

.fgs__tag {
  margin-right: 8px;
  margin-bottom: 8px;
  border-radius: 2px;
  background-color: $lightGrey;
  padding: 6px 30px 6px 12px;
  position: relative;

  .fgs__btn {
    position: absolute;
    top: calc(50% - 7px);
    right: 9px;
    height: auto;
    font-size: 15px;
    color: $coolGrey;
  }

  &:last-child {
    margin-right: 0;
  }
}

.full__width {
  width: 100%;
}

.logo__box {
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 90%;
  border: 1px solid $lightGrey;
}

.preview__temp {
  position: relative;
  width: 1240px;
  min-height: 1754px;
  background-color: $white;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 100%;
  }

  .smartcode__temp {
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../images/smartcode.svg');
  }
}

// Scroll Bar

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  border-radius: 2px;
  -webkit-box-shadow: inset 0 0 6px #fff;
}

::-webkit-scrollbar-thumb {
  border-radius: 2px;
  -webkit-box-shadow: inset 0 0 6px #949ab4;
}
