@import '../../styles/Variables';

.fgs__card {
  padding: 24px;
  border-radius: 4px;
  background-color: transparent;
  border: 1px solid $lightGrey;
  cursor: pointer;
  display: grid;
  grid-row-gap: 8px;

  &.fgs__card--active {
    background-color: $secondaryAquamarine;
    border-color: $secondaryAquamarine;

    * {
      color: $white !important;
    }
  }

  .fgs__card__item {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    &:last-child {
      align-items: center;
    }

    h1 {
      font-size: 32px;
      line-height: 46px;
    }

    h4 {
      font-size: 15px;
      color: $primaryMarino;
      font-weight: 600;

      &.trending {
        display: flex;
        align-items: center;
        color: $secondaryAquamarine;

        i {
          font-size: 24px;
        }
      }
    }
  }
}
