@import '../../styles/Variables';

.fgs__sidebar {
  background-color: $lightGrey;
  height: 100vh;
  width: 224px;
  position: fixed !important;
  overflow: auto;
  z-index: 5;

  .logo__container {
    width: 164px;
    margin: 35px auto;
  }

  .fgs__sidebar__header {
    background-color: $lightGrey;
    text-align: center;

    .button-collapse {
      color: $coolGrey;
      position: absolute;
      top: -25px;
      right: 12px;
      padding: 0;
      background-color: transparent;
      border: none;
      outline: 0;
      display: none;

      i {
        font-size: 24px;
      }
    }
  }

  .fgs__menu__item {
    a {
      font-size: 15px;
      font-weight: 600;
      color: $charcoalGrey;
      height: 48px;
      display: flex;
      align-items: center;

      i {
        margin-right: 16px;
        font-size: 24px;
        color: $coolGrey;
      }
    }

    &:hover {
      background: none;
      background-image: linear-gradient(to left, rgba(255, 255, 255, 0), $white);
      color: $primaryMarino;

      a {
        color: $primaryMarino !important;
        background-color: transparent !important;

        i {
          color: #5d76ba;
        }
      }
    }

    &.active {
      background: none;
      background-image: linear-gradient(to left, rgba(255, 255, 255, 0), $white);
      border-left: 6px solid $primaryMarino;

      a {
        color: $primaryMarino;
        padding-left: calc(25px - 6px);

        i {
          color: #5d76ba;
        }
      }
    }
  }

  @media (max-width: 1024px) {
    left: -224px;
    transition: left 0.4s ease;

    &.is-open {
      left: 0;
    }

    .fgs__sidebar__header {
      .button-collapse {
        display: block;
      }
    }
  }
}
