@import '../../styles/Variables';

.steps__container {
  display: flex;
  justify-content: center;
  width: 100%;

  .step__item {
    position: relative;
    overflow: hidden;

    &:not(:last-child) {
      width: calc((100% - 70px)/3);
      max-width: 100px;
    }

    .step__item__content {
      display: inline-block;
    }

    &.active {
      .step__item__inner {
        .oval {
          background-color: $primaryMarino;
          color: $white;
          .checkmark {
            margin-top: -3px;
            width: 7px;
            height: 13px;
            border: solid $white;
            border-width: 0 2px 2px 0;
            transform: rotate(45deg);
          }
        }
      }
    }

    .step__item__inner {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;

      .oval {
        width: 32px;
        height: 32px;
        background-color: $lightGrey;
        border-radius: 100%;
        color: $white;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: OpenSans;
        font-size: 13px;
        color: $charcoalGrey;

        &:after {
          content: "";
          height: 1px;
          width: 9999px;
          display: block;
          position: absolute;
          top: 16px;
          background-color: $lightGrey;
          left: 100%;
        }
      }
    }
  }
}

.steps__container__text {
  margin-top: 12px;
  display: flex;
  justify-content: center;

  .text__item {
    font-size: 10px;
    color: $coolGrey;
    width: 100px;
    text-align: center;
  }
}
