#status {
  .modal-dialog {
    .modal-content {
      width: 490px;
      .modal-body {
        .react-bs-table-container {
          .react-bs-table {
            .react-bs-container-body {
              margin-bottom: 20px;
            }
          }
        }
      }
    }
  }
}
