/* The checkbox-container */
.checkbox__container {
  display: block;
  position: relative;
  padding-left: 26px;
  cursor: pointer;
  user-select: none;
  margin: 0;
  font-weight: 400;
  font-size: 15px;

  /* Hide the browser's default checkbox */
  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  /* When the checkbox is checked, add a blue background */
  input:checked ~ .checkmark {
    background-color: #5d76ba;
    border: none;
  }
  /* Show the checkmark when checked */
  input:checked ~ .checkmark:after {
    display: block;
  }

  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: calc(50% - 9px);
    left: 0;
    height: 18px;
    width: 18px;
    border: 2px solid #949ab4;
    border-radius: 2px;
  }
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  /* Style the checkmark/indicator */
  .checkmark:after {
    left: 6px;
    top: 1px;
    width: 7px;
    height: 12px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }
}

/* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .checkmark {
  background-color: #ccc;
}
.checkbox-container:hover input:checked ~ .checkmark {
  background-color: #5d76ba;
}
