.parameters {
  padding-left: 44px;

  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: OpenSans;
    margin-bottom: 24px;
    padding-right: 44px;

    &-title {
      font-size: 18px;
      line-height: 1.33;
      color: #3b4255;
      margin-right: 12px;
    }
  }

  .content-container {

    .change-password-title {
      margin-bottom: 24px;

      span {
        font-family: OpenSans;
        font-size: 15px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.47;
        letter-spacing: normal;
        color: #5d76ba
      }
    }
    .custom-form-group {
      width: 100%;
      margin-bottom: 16px;

      label {
        display: block;
        font-family: OpenSans;
        font-size: 10px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #949ab4;
      }

      .input-container {
        position: relative;
        display: inline-block;
        input {
          width: 552px;
          display: block;
          border-radius: 8px;
          padding: 14px 16px;
          border: 1px solid #edeff7;
          outline: none;

          ::placeholder {
            color: rgba(148, 154, 180, 0.7);
          }
        }

        &.err {
          input{
            border: solid 1px #ff4900;
            padding-right: 42px;
          }

          &::after {
            position: absolute;
            top: 7px;
            right: 12px;
            content: "\e921";
            font-family: "icomoon";
            color: #ff4900;
            font-size: 24px;
          }
        }
      }
    }

    .err-inform {
      font-family: OpenSans;
      font-size: 10px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      color: #ff4900;
      width: 100%;
      padding: 0;
      margin: 0;
      margin-top: -8px;
    }

    .buttons {
      width: 100%;
      padding-top: 18px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      button {
        border: none;
        &.focus, &:focus {
          outline: 0;
          box-shadow: none!important;
        }
      }

      .custome-btn {
        // flex: 0 0 50%;
        padding: 13px;
        width: 152px;
        border-radius: 4px;

        &.custome-btn-cancel {
          color: #5d76ba;
          border: 1px solid #5d76ba;
          // padding-right: 8px
        }

        &.custome-btn-update {
          color: white;
          background: #01cbc6;
          // padding-left: 8px
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .parameters {
    .content-container {
      .custom-form-group {
        .input-container {
          display: block;
          input {
            width: 100%;
          }
        }
      }
    }
  }
}