#error-modal {
    .modal-dialog {
        text-align: -webkit-center;
        top: 150px;

        .modal-content {
            width: 400px;
            border-radius: 8px;

            .modal-body {
                .title {
                    font-size: 18px;
                    line-height: 1.33;
                    color: #5d76ba;
                    padding: 20px 0 0 20px;
                }

                .sub-title {
                    font-size: 13px;
                    color: #3b4255;
                    padding-left: 20px;
                }

                .content-container {
                    padding: 40px;
                    display: flex;
                    justify-content: center;
                    flex-wrap: wrap;

                    .icon-error {
                        display: flex;
                        justify-content: center;
                        flex: 0 0 100%;
                        font-size: 80px;
                    }

                    .title-text {
                        margin-top: 24px;
                        font-size: 18px;
                        color: #3b4255;
                        font-family: OpenSans;
                        text-align: center;
                    }

                    .information-text {
                        margin-top: 8px;
                        font-size: 13px;
                        color: #3b4255;
                        font-family: OpenSans;
                        text-align: center;

                        .name {
                            color: #5d76ba;
                            font-weight: 600;
                        }
                    }

                    .buttons {
                        width: 100%;
                        padding-top: 40px;
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-between;
                        justify-content: center;

                        .custome-btn {
                            // flex: 0 0 50%;
                            padding: 13px;
                            width: 144px;
                            border-radius: 4px;

                            &.custome-btn-cancel {
                                color: #ffffff;
                                background-color: #01cbc6;
                            }
                        }
                    }
                }
            }
        }
    }
}