.switcher {
  width: 280px;
  position: relative;
  margin-top: 14px;
  display: block;
  cursor: pointer;

  &:after {
    content: '';
  }
  input {
    position: absolute;
    opacity: 0;
  }
  span {
    background-color: #949ab4;
    width: 44px;
    height: 24px;
    border-radius: 20px;
    display: inline-block;
    margin: 10px;
    position: absolute;
    top: -12px;
    left: 0;
    &:after {
      content: '';
      display: block;
      width: 20px;
      height: 20px;
      background-color: white;
      border-radius: 50%;
      position: absolute;
      top: 2px;
      transition: all .3s;
      z-index: 10;
    }
  }
  p {
    font-size: 14px;
    margin-left: 80px;
    padding-top: 0;
    display: inline-block;
    color: #3B4255;
    font-weight: initial;
  }
  input {
    &:not(:checked) ~ span:after {
      left: 2px;
    }
    &:checked ~ {
      span {
        background-color: #5974B5;
        &:after {
          left: 22px;
          background-color: #fff;
        }
      }
      p {
        color: #3B4255;
      }
    }
  }
}
