.page__login {
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 90px;

  .fgs__form {
    width: 100%;
    padding: 0 40px;
  }

  .login__form__forgotpass {
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 13px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #5d76ba;
  }

  @media (max-width: 767px) {
    padding-top: 0;
    justify-content: center;
  }
}
